body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Стилі для галереї */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 800px;
  list-style-type: none;
  padding: 0;
}

.gallery li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.gallery img:hover {
  transform: scale(1.05);
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  animation: fadeIn 0.5s ease;
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.3s ease;
}

/* Анімація */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Стилі для форми */
.feedback-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #808080;
  /* Стандартний колір */
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  color: #000000;
  /* Колір при фокусі */
}

.feedback-form input:active,
.feedback-form textarea:active {
  color: #808080;
  /* Колір при активному стані */
}

.feedback-form button {
  width: 100%;
  padding: 10px;
  background-color: #4E75FF;
  /* Колір у спокійному стані */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
  /* Колір при ховері */
}

.feedback-form button:active {
  background-color: #4E75FF;
  /* Колір при активному стані */
}